.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    display: flex !important;
    justify-content: space-between !important;
    align-items:center !important; 
    height: 100% !important;
}

div#navbarScroll{
    justify-content: flex-end;
}



.navbar{
    height: 80px !important;
    
}

.user-form{
    height: 50px;
    width: 150px;
    /* border: 1px solid white; */
    border-radius: 50px;
    display: flex;
    justify-content: space-between
}


.user-form .content{
    flex: 4;
    display: block;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 20px;
    overflow:hidden;
    overflow-x: auto;
}
    
.user-form img{
    flex: 1;
    border-radius: 50%;
}

.dropdown{
    background-color: transparent !important  ;
    margin-right: 12px;
}
.btn-primary{
    background-color: transparent !important  ;
    border: none !important;
    display: flex !important;
    align-items: center;
    height: 50px !important;
}

.dropdown-menu.show{
    display: flex !important;
    flex-direction: column !important;
    padding: 10px 20px;
    background: white !important;
}

.dropdown-menu.show button{
    text-align: left !important;
    border: none;
    background: transparent;
    padding: 0;
    transition: all 0.5s ease-in-out;

}

.dropdown-menu.show a{
    color: black ;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.dropdown-menu.show button:hover{
    color: #ccc;
}

.dropdown-menu.show a:hover{
    color: #ccc;
}

.navbar-collapse.show{
    background: black;
    padding: 20px;
}

@media screen and (max-width:991px){
    form{
        flex-direction: column;
    }

    .user-form{
        width: 200px;
        display: flex;
        flex-direction: space-between;
    }

    .user-form img{
        flex: 1;
    }

    .user-form .content{
        flex: 4;
        display: block;
        color: white;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    

    .dropdown-toggle{
        padding: 0 !important;
    }

}   